==
<section id="banner">
    <div class="kai_banner_container">
        <div class="kai_banner_body">
            <img src="{{'assets/imgs/pokergame.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main2.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main3.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main4.jpg'|theme}}">

        </div>

        </div>
    <header>
        <a href="{{ 'demo' | page}}" class="button">Download</a>
        <a href="{{ 'demo' | page}}" class="button">Try demo</a>
    </header>
</section>