==
<section id="banner">
    <div class="kai_banner_container">
        <div class="kai_banner_body">
            <img src="{{'assets/imgs/pokergame.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main2.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main3.jpg'|theme}}">
            <img src="{{'assets/imgs/poker_main4.jpg'|theme}}">

        </div>

        </div>
    <header>
        <h2>Poker<em>mania</em></h2>
        <a href="#1" class="button">Learn More</a>
    </header>
</section>