==
<!-- Gigantic Heading -->
<!--<div id="1"></div>-->
<section class="wrapper style2">

    <div class="container">
        <header class="major">
            <h2>Gaming products</h2>
            <p>Customize your online gaming website</p>
        </header>
    </div>
</section>
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <span class="image featured"><img src="{{ 'assets/imgs/poker_main4.jpg'|theme }}" alt="" /></span>
                <h3>HTML 5 Slots</h3>
                <p>Using the latest technology, our certified game servers have special configuration customizability, making our game servers suitable for both real money and social gaming. Multi-platform and cross-device features are well known advantages of HTML5 slots. Any game can be launched on any device without installation.</p>
                <h3>Flash Slots</h3>
                <p>Flash games have been designed and developed specifically for social platforms such as Facebook. The games can be installed on any platform. Great animations and sounds, exciting gameplay, features and bonuses are powerful components of our flash games.</p>
                <h3>HTML 5 Backgammon</h3>
                <h3>HTML 5 Rummy, Live Casino, Horse races and Virtual games (coming soon)</h3>
                <h3>RNG</h3>
                <p>RNG certified by iTechLabs according to UKGC technical standards as well as for the jurisdictions of Italy, AGCC, Denmark, IOM, Malta and Gibraltar enabling our customers to install our games on their online platforms.</p>
            </article>
        </div>
    </div>
</section>