==
<!-- Gigantic Heading -->
<!--<div id="1"></div>-->
<section class="wrapper style2">

    <div class="container">
        <header class="major">
            <h2>Gaming platform</h2>
            <p>Online gaming hub</p>
        </header>
    </div>
</section>
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <article>

                    <h3>Complete gaming solution</h3>
                    <p>Pokermania's gaming platform connects our website with a variety of games to a scalable accounting and reporting platform. We offer both proprietary and third party integrated gaming products: Poker, Backgammon, Rummy, Live Casino, HTML 5 and Flash Slots and Casino, Live Horseracing and Virtual Games. Our experienced team of developers can integrate any third party gaming product or payment provider.</p>
                </article>
            </article>
        </div>
    </div>
</section>