==

<section class="wrapper style2">

    <div class="container">
        <header class="major">
            <h2>Poker system software</h2>
            <p></p>
        </header>
    </div>
</section>
<!-- Main -->
<!-- Posts -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/photo6.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Download</h3>
                        <p>Downloadable desktop clients for Windows and Mac</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/19989193_1722992747793441_2100573829_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Tablet HTML 5</h3>
                        <p>Android tablet, iPad browser client</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/20046000_809532459222083_30304704_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Browser HTML 5</h3>
                        <p>Insta-play browser client</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/20046175_1722992844460098_616093147_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>HTML 5 mobile</h3>
                        <p>Android, Iphone browser client</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/19987406_809528972555765_924833706_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Skin builder</h3>
                        <p>Tool for skin creation and fast deployment</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/19989193_1722992747793441_2100573829_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Business center</h3>
                        <p>Agent transactions, support and security</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/photo7.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Back office</h3>
                        <p>Game configurations and scheduling</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/photo8.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>Enterprise monitoring</h3>
                        <p>Sleep undisturbed</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
            <article>
                <span class="image featured"><img src="{{ 'assets/imgs/pokermania_1600.jpg'|theme }}" alt="" /></span>
                <h3>Our philosophy</h3>
                <p>Our approach is centered on adding operator value with tools for fast skinning, managing table visibility and connecting to our reporting API. Our platform supports multi-currency, multi-language and seamless/non-seamless integrations. We employ a distributed server architecture that scales to your requirements. Multiple graphical themes, multi-platform downloadable client, fast loading HTML 5 clients for desktop, phones and tablets suited for all operators' business requirements.</p>
                <h3>Game types</h3>
                <p>NL Holdem, Pot Limit Omaha, Omaha Hi/Lo, Turkish Poker, 32 Card Draw, Allin or Fold, Six Plus Holdem, Asian Domino games such as AduQ, BandarQ and Domino99.</p>
                <h3>Tournament types</h3>
                <p>Regular, Rebuy, Time based, Satellites, Spin & Go, KO, Progressive KO, ShootOut</p>
            </article>

        </div>
    </div>
</section>