
<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_1"></i>
                    <h3>Poker system software</h3>
                    <p>Standalone and network solutions, proven distributed architecture, download and browser clients</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_2"> </i>
                    <h3>Gaming platform</h3>
                    <p>Gaming hub with central accounting and integrated products</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_3"></i>
                    <h3>Gaming products</h3>
                    <p>Poker, Casino, Live Casino, Slots, Horse Racing, Virtual Games</p>
                </div>
            </section>
        </div>
    </div>
</section>