
<!-- Highlights -->
<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_1"></i>
                    <h3>Poker Games</h3>
                    <p>Texas Holdem, Omaha, Omaha Hi-Lo, Allin or Fold, Big Ante Holdem/Omaha, Turkish Poker, 32 Card Draw, BandarQ, AduQ, Domino99.</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_2"> </i>
                    <h3>Tournament types</h3>
                    <p>Regular, Rebuy, Time based, Satellites, Spin & Go, KO, Progressive KO, ShootOut.</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major icon-Icon_3"></i>
                    <h3>Poker software</h3>
                    <p>Distributed server architecture, Downloadable poker client for Win and Mac, Html5 browser client, Html5 mobile client, Skinning tool for white labels, Backoffice for game configuration and management, Games visibility configuration per skin, Business center for site management, affiliates, support and security, Customized integrated solutions, Reporting and wallet manipulation API, Seamless wallet simulation, Multicurrency support, Jackpots, Predefined and custom avatars, Multiple graphical themes, Enterprise monitoring system, Vip clubs and Vip tables, Observer bet.</p>
                </div>
            </section>
        </div>
    </div>
</section>