==
<!-- Posts -->
<section class="wrapper style1">
    <div class="container">
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/19987406_809528972555765_924833706_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>The First Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/19989193_1722992747793441_2100573829_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>The Second Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/20046000_809532459222083_30304704_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>The Third Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
            <section class="6u 12u(narrower)">
                <div class="box post">
                    <a href="#" class="image left"><img src="{{ 'assets/imgs/20046175_1722992844460098_616093147_n.jpg'|theme }}" alt="" /></a>
                    <div class="inner">
                        <h3>The Fourth Thing</h3>
                        <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
