==
<div id="header">

    <!-- Logo -->
    <!--<h1><a href="{{ 'home'|page }}" id="logo"><div class="logo"></div></a></h1>-->

    <!-- Nav -->
    <nav id="nav">
        <nav class="menu-example example">
        <ul>
            <li><a href="{{ 'home'|page }}" class="menu-example__item active">Home</a></li>
            <!--<li>-->
                <!--<a href="#">Dropdown</a>-->
                <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Lorem dolor</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Magna phasellus</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Etiam sed tempus</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li>&ndash;&gt;-->
                        <!--&lt;!&ndash;<a href="#">Submenu</a>&ndash;&gt;-->
                        <!--&lt;!&ndash;<ul>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Lorem dolor</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Phasellus magna</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Magna phasellus</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Etiam nisl</a></li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li><a href="#">Veroeros feugiat</a></li>&ndash;&gt;-->
                        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                    <!--&lt;!&ndash;</li>&ndash;&gt;-->
                    <!--&lt;!&ndash;<li><a href="#">Veroeros feugiat</a></li>&ndash;&gt;-->
                <!--&lt;!&ndash;</ul>&ndash;&gt;-->
            <!--</li>-->
            <li><a href="{{ 'about-us'|page }}" class="menu-example__item">About Us</a></li>
            <li><a href="#2" class="menu-example__item">Contacts</a></li>
            <!--<li><a href="{{ 'two-sidebar'|page   }}" class="menu-example__item">Products</a></li>-->
            <!--<li><a href="{{ 'no-sidebar'|page    }}" class="menu-example__item">No Sidebar</a></li>-->
        </ul>
    </nav>
    </nav>
</div>