==
<div id="header">

    <!-- Logo -->
    <h1><a href="{{ 'home'|page }}" id="logo">Poker<em>mania</em></a></h1>

    <!-- Nav -->
    <nav id="nav">
        <nav class="menu-example example">
        <ul>
            <li><a href="{{ 'home'|page }}" class="menu-example__item active">Home</a></li>
            <li><a href="{{ 'aboutUs'|page }}" class="menu-example__item">About Us</a></li>
            <li><a href="#1" class="menu-example__item">Contacts</a></li>
            <li><a href="{{ 'termsAndConditions'|page   }}" class="menu-example__item">Terms and Conditions</a></li>

        </ul>
    </nav>
    </nav>
</div>