<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/19495912_808145886027407_1355430465_o.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Pokermania</h2>
            <!--<h5 class="lt-slider-subtitle">with OctoberCMS &amp; Materialize</h5>-->
            <div class="lt-slider-button">
              <a href="/contact"  class="waves-effect waves-light btn-large primary-color-background">About Us</a>
            </div>
            <!--<div class="lt-slider-links"><a href="/contact" target="_blank">Contact Us</a>-->
            <!--</div>-->
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/e886c57d9d.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Poker Gaming Software</h2>
            <!--<h5 class="lt-slider-subtitle">with OctoberCMS &amp; Materialize</h5>-->
            <!--<div class="lt-slider-button">-->
              <!--<a href="/contact"  class="waves-effect waves-light btn-large primary-color-background">About Us</a>-->
            <!--</div>-->
            <div class="lt-slider-links">
               <a href="/contact"  class="waves-effect waves-light btn-large primary-color-background">Contact Us</a>
            </div>
          </div>
        </li>
        <!--<li>-->
          <!--<img src="{{ 'assets/img/pages/home/slideshow/sht_61202320_1280x700_3859530034fc8a43ea74ad.jpg'|theme }}" alt="image">-->
          <!--<div class="caption center-align">-->
            <!--<h2 class="lt-slider-title">Poker Gaming Software</h2>-->
            <!--&lt;!&ndash;<h5 class="lt-slider-subtitle">with OctoberCMS &amp; Materialize</h5>&ndash;&gt;-->
            <!--<div class="lt-slider-button">-->
              <!--<a href="/contact"  class="waves-effect waves-light btn-large primary-color-background">About Us</a>-->
            <!--</div>-->
            <!--<div class="lt-slider-links">-->
              <!--<a href="#home" target="_blank">Contact Us</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</li>-->
      </ul>
    </div>
  </div>
</div>
