<div class="lt-row row">
  <div class="center">
    <div class="lt-col col l3 m6 s12">
      <a href="https://facebook.com" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/Facebook_logo-17.png'|theme }}" alt="Laravel"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
      <a href="https://instagram.com/" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/4890852_instagram_jpeg81d3fdebc0e0818a2a43d41548545998.jpg'|theme }}" alt="OctoberCMS"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
      <a href="http://googleplus.com/" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/googleplus-100598530-large.jpg'|theme }}" alt="Materialize CSS"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
    <a href="https://twitter.com/" target="_blank">  <img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/Twitter-logo.png'|theme }}" alt="Github"></a>
    </div>
  </div>
</div>
